.my_image img {
    width: 300px;
    float: left;
}
.profile {
    margin-left: 310;
    height: 400px;
    background: green;
}
._title {
    color: white;
    background: rgb(97, 97, 212);
}
.codeName {
    height: 100px;
    background: pink;
}