.container_left {
    float: left;
}
.my_image img {
    width: 305px;
}
.container_right {
    margin-left: 315px;
    height: 400px;
    /* background: rgb(138, 155, 186); */
}
.container_right h2 {
    color: white;
    background: rgb(97, 97, 212);
    margin-top: 0px;
    padding-left: 15px;
}
.codeName {
    height: 100px;
}
.profile_content {
    padding-left: 15px;
}
._column {
    color: white;
    background: gray;
}
}
.sentences {
    padding-left: 15px;
    background: rgb(206, 224, 247);
}
.container_right img {
    width: 100px;
}